* text=auto eol=lf

 *.cpp text eol=lf
 *.h text eol=lf
 *.py text eol=lf
 *.js text eol=lf
 *.html text eol=lf
 *.css text eol=lf
 *.md text eol=lf
 *.txt text eol=lf
 *.cs text eol=lf
 *.axaml text eol=lf
 *.props text eol=lf

# 明确指定哪些文件是二进制文件，不要碰它们
 *.png binary
 *.jpg binary
 *.jar binary